<strong>Ol치, {{provider}} </strong>
<p>Houve cancelamento de hor치rio</p>
<p>
    <strong>Cliente : </strong>{{user}}<br/>
    <strong>Data/hora: </strong>{{date}}<br/>
    <br/>
    <small>
        Hor치rio est치 novamente disponivel para reserva
    </small>
</p>